@mixin clearfix {
    &::after {
        content: ""; /* always have content but leave blank so it does not display*/
        display: table;
        clear: both; /* clears both left and right floats*/
    }
}