.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem; 
    padding-left: 9rem; //9 =add padding from the transform -3rem and 6rem from the padding
    font-size: $default-font-size;
    transform: skewX(-12deg);


    &_shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg); /* todo: origin-causes image border overflow to display */
        position: relative; //centers caption/
    }

    &_img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4); 
        backface-visibility: hidden; 
        transition: all .5s; /* todo: causes image border overflow to display */

    }

    &_text {
        transform: skewX(12deg);
    }

    &_caption {
        position: absolute; //centers caption//
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden; 
    }

    &:hover &_caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &_img {
        transform: translateX(-4rem) scale(1); 
        filter: blur(3px) brightness(80%);
    }
}